{% extends "admin/base.html" %}
{% load i18n static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'admin_panel/admin.css' %}">
{% endblock %}

{% block extrahead %}
    <script src="{% static 'admin_panel/js/nav_groups.js' %}" defer></script>
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'pystore_admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if admin_languages|length > 1 %}
<div class="ps-lang-switch">
    <form action="/i18n/setlang/" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <select name="language" onchange="this.form.submit()" aria-label="Language">
            {% for lang in admin_languages %}
                <option value="{{ lang.code }}" {% if lang.code == admin_active_language %}selected{% endif %}>
                    {% if lang.flag %}{{ lang.flag }} {% endif %}{{ lang.name }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>
{% endif %}
{% if user.is_anonymous %}{% include "admin/color_theme_toggle.html" %}{% endif %}
{% endblock %}

{% block nav-sidebar %}
    {% include "admin/nav_sidebar.html" %}
{% endblock %}
